
.normal {
}

.title {
  background: rgb(121, 242, 157);
}
.page {
  width: 100%;
  height: 100vh;
}

.content {
  width: 100%;
  height: calc(100vh - 64px);
}
.lmHeader {
  display: flex;
  justify-content: center;
}