.lm-news {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  .lm-news-native {
    background-color: rgba(0,0,0, .5);
    box-sizing: border-box;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    ul {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin: 0;
      padding: 0;
      justify-content: center;
      li {
        cursor: pointer;
        list-style: none;
        width: 80px;
        padding: 10px 0;
        background-color: #ccc;
        margin-right: 10px;
        text-align: center;
      }
      .active {
        color: #333;
        background-color: skyblue;
      }
    }
  }
  .site-card-wrapper {
    padding-right: 26px;
    padding-left: 10px;
    columns: 4;
    column-gap: 30;
    .ant-list {
      width: 100%;
    }
    .lm-card-item {
      width: 100%;
      margin: 0 0 20px;
      overflow: hidden;
      break-inside: avoid;
      padding: 5px 10px;
      .ant-card-body {
        padding: 10px;
        h3 {
          padding-top: 10px;
          a {
            color: #333;
            font-weight: 600;
          }
        }
      }
    }
  }

  @media (max-width: 1200px) {
    .site-card-wrapper {
      columns: 3;
      width: calc(100% -40px);
      box-sizing: border-box;
    }
    .lm-news-native {
      ul>li {
        margin-bottom: 0;
      }
    }
  }

  @media (max-width: 768px) {
    .site-card-wrapper {
      columns: 2;
    }
    .lm-news-native {
      ul > li {
        margin-bottom: 10px;
      }
    }
  }
  @media (max-width: 480px) {
    .site-card-wrapper {
      columns: 1;
    }
    .lm-news-native {
      ul>li {
        margin-bottom: 10px;
      }
    }
  }
}
