.site-card-wrapper {
  margin: 20px auto;
  columns: 4;
  column-gap: 30;
  .ant-list {
    width: 100%;
  }
  .ant-card {
    width: 100%;
    margin: 0 0 20px;
    overflow: hidden;
    break-inside: avoid;
    .ant-card-body {
      padding: 10px;
      .ant-divider {
        margin: 0;
      }
    }
  }
}