.site-card-wrapper {
  margin: 20px auto;
  columns: 4;
  column-gap: 30;
  .ant-list {
    width: 100%;
  }
  .ant-card {
    width: 100%;
    margin: 0 0 20px;
    overflow: hidden;
    break-inside: avoid;
    .ant-card-body {
      padding: 10px;
      h3 {
        padding-top: 10px;
        a {
          color: #333;
          font-weight: 600;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .site-card-wrapper {
    columns: 3;
    width: calc(100% -40px);
    box-sizing: border-box;
  }
}

@media (max-width: 768px) {
  .site-card-wrapper {
    columns: 2;
  }
}
@media (max-width: 480px) {
  .site-card-wrapper {
    columns: 1;
  }
}
